extends layout
block content
    form(role='form' method='POST', action="/admin-login" )
        .form-group
            label Email
            input.form-control(type='email', name='username', value="admin@headstart.in" readonly)
        .form-group
            label Password
            input.form-control(type='password', name='password')
        input.btn.btn-success.pull-right(type='submit' value='Submit')
