extends layout
block content
    div.container-fluid
        .panel.panel-default(style="margin-top:10px;")
            .panel-heading
                h3.panel-title #{candidate.name}
            .panel-body
                div
                    b Phone Number:
                    |  #{candidate.mobile}
                div
                    b Email:
                    |  #{candidate.email}
                div
                    b Total Experience:
                    |  #{candidate.candidate.experience}
                div
                    b Education:
                    |  #{candidate.candidate.education}
                div
                    b Which of these Roles suit you?:
                    |  #{candidate.candidate.roles}
        .panel.panel-default.panel-custom
            .panel-heading
                h3.panel-title Hackathons you participated in
            .panel-body #{candidate.candidate.hackathons}
        .panel.panel-default.panel-custom
            .panel-heading
                h3.panel-title What is your ideal profile?
            .panel-body #{candidate.candidate.profile}
        .clearfix
        .panel.panel-default.panel-custom
            .panel-heading
                h3.panel-title What makes you eligible to work at a startup?
            .panel-body #{candidate.candidate.eligibilty}
        .panel.panel-default.panel-custom
            .panel-heading
                h3.panel-title What motivates you to work for a Startup?
            .panel-body #{candidate.candidate.motivation}

        .clearfix
        if user.role.code == 3
            h3 Shortlisted Startups
            each star in candidate.starred
                ul
                    li=star.startup.startup_name
        form(role='form',action='/note/#{candidate._id}', method='POST')
            .form-group
                label(for='comment') Notes:
                textarea#notes.form-control(name='note', rows='5') #{note}
            input.btn.btn-success.pull-right(type="Submit" Value='Save')


        //pre #{candidate}

block user
    if user
        li
            a(href='/edit-profile') Profile
        li
            a(href='/logout') Logout
    else
        li
            a(href='/login') Login