extends layout
block content
    h1 Candidates
    div.container-fluid
        each candidate in users
            .panel.panel-default
                .panel-heading
                    a.panel-title(href='/candidate/' + candidate._id) #{candidate.name}
                    if user.role.code != 3
                        if(candidate.star)
                            span.glyphicon.glyphicon-star.pull-right(style="font-size:24px;" id="star#{candidate._id}" onclick="removeShortList('#{candidate._id}');" aria-hidden="true")
                        else
                            span.glyphicon.glyphicon-star-empty.pull-right(style="font-size:24px;" id="star#{candidate._id}" onclick="shortList('#{candidate._id}');" aria-hidden="true")

                .panel-body
                    div
                        b Education:
                        |  #{candidate.candidate.education}
                    div
                        b Experience:
                        |  #{candidate.candidate.experience}
                    div
                        b Roles Intrested In:
                        |  #{candidate.candidate.roles}
block user
    if user
        li
            a(href='/edit-profile') Profile
        li
            a(href='/logout') Logout
    else
        li
            a(href='/login') Login