extends layout
block content
    h1 Profile
    .alert.alert-info You can edit your profile here, hit
        b  Save
        |  after you are done editing.
    form(role='form', method='POST', action="/profile" )
        if user.role.code == 2
            div
                h3 #{profile.startup.startup_name}
                div #{profile.startup.intro}
            .form-group
                label Qualities we are Looking For:
                textarea.form-control(name='roles')=profile.startup.roles
            .form-group
                label Positions are Hiring For:
                textarea.form-control(name='requirements')=profile.startup.requirements
            .form-group
                label Website:
                input.form-control(name='website' value=profile.startup.website)
            .form-group
                label Funding Status:
                input.form-control(name='funding_status' value=profile.startup.funding_status readonly)
            .form-group
                label Openings (Mention the no of Openings in Each Vertical):
                input.form-control(name='openings' value=profile.startup.openings)
            .form-group
                label Hiring A Cofounder?
                input.form-control(name='cofounder' value=profile.startup.cofounder)
            .form-group
                label What are the Perks Offered
                textarea.form-control(name='perks')=profile.startup.perks
        if user.role.code == 1
            div
                h4 #{profile.name}
                div= profile.mobile
                div= profile.candidate.experience
                div= profile.candidate.roles
            .form-group
                label Qualification:
                textarea.form-control(name='qualification')=profile.candidate.qualification
            .form-group
                label Your Education Details:
                textarea.form-control(name='education')=profile.candidate.education
            .form-group
                label Current Employer:
                input.form-control(name='employer' value=profile.candidate.employer)
            .form-group
                label What Motivates you?
                textarea.form-control(name='motivation')=profile.candidate.motivation
            .form-group
                label Experience:
                textarea.form-control(name='experience')=profile.candidate.experience
            .form-group
                label What makes you Eligible to Work for Startup?
                textarea.form-control(name='eligibility')=profile.candidate.eligibility
            .form-group
                label Wanna be a Co-Founder?
                input.form-control(name='cofounder' value=profile.candidate.cofounder)
            .form-group
                label LinkedIn URL :
                input.form-control(name='linkedin' value=profile.candidate.linkedin)
            .form-group
                label What do you think about Startups?
                textarea.form-control(name='about_startup')=profile.candidate.about_startup
        input.btn.btn-success.pull-right(type="Submit" Value='Save')
    .clearfix
block user
    if user
        li
            a(href='/logout') Logout
    else
        li
            a(href='/login') Login



