extends layout
block content
    .container
        h1 FAQs
        .row
            .col-xs-12
                h3 What is Headstart Higher?
                p Headstart Higher is India's most successful startup hiring event. This is a platform to connect startups to rockstar talent. It's a SPEED DATING format, where all candidates meet all startups and then startups can choose to talk further to those who they find competent enough to join them. On an average, each candidate gets shortlisted by 6 startups. We shortlist outstanding candidates from a pool of applicants.  50% of the candidates get job offers from multiple startups.
        .row
            .col-xs-12
                h3 How is this different from job fairs?
                p It is different on two counts. One, only startups (very young companies) are allowed to hire in a Higher event. Two, you will undergo a selection before you are allowed to participate.
        .row
            .col-xs-12
                h3 So, what do we do at Higher?
                p We bring STARTUP-READY candidates closer to startups that are looking to hire great people. This is the process that we follow to achieve the same:
                ul
                    li Invite participation from prospective candidates and startups. Get details of what the participating startups are looking for in their prospective hires.
                    li Screen candidates based on their profiles and the requirements of the startups.
                    li Let the startups pitch to the candidates on the day of the event.
                    li Let the startups and candidates speed-date  i.e allocate 3 minutes to each candidate with every startup and let the magic unfold!
        .row
            .col-xs-12
                h3 For Candidates:
                ul
                    li What are the Risks and Rewards of joining a startup?
                        br
                        | Joining a startup is nothing like joining another job. It demands long working hours, responsibility, ownership and a lot of passion. In many cases, the startup may not pay you even half as much as your current salary and would perhaps demand double the amount of work. (However we have a few funded startups as well, who are able to offer very competitive salary packages). What is on offer is your shot at changing the world by building a business that provides innovative products and services or does it more efficiently than most others in the world. The risk that you take on your salary is compensated either with some equity in the organisation or simply the fast growth and learning if the company does well.
                    li  Are there any reasons I shouldn't join a Startup?
                        ul
                            li You should clearly not join a startup if any of the  following is true:
                            li You have a high commitment on the income you take home. For example, if you are servicing a huge home-loan.
                            li You have a family that demands loads of attention. For example, if you are expecting arrival of your first child in next few months.
                            li You are unable to get through other jobs and are looking at this as an option for time being. Joining a startup is a long-term commitment.
                            li You care a lot about the brand name of the company you join. It is quite likely that no one in your circle has heard about the startup you work for, or will hear about it in near future.
                    li Why I may join a startup?
                        ul
                            li There are some people who have natural inclination towards startups:
                            li You are known for taking initiatives among your friends. You happen to be the one person who organises all get-togethers and you love it.
                            li You love the freedom at your workplace. You would find it cool to come to office whenever you like to and work late-hours. Startups usually don't have a in-time out-time policy.
                            li You think you work best when you are left unsupervised. There are usually no enough people in a startup to monitor you.
                            li You are a programmer but love to try your hand at dabble online marketing, sales and making coffee, or any other way around.
                            li All said and done, working in startups is a rewarding experience. The learning curve is 3x compared to roles in big companies. If your startup does well, you grow very fast. If it tanks, you would still have many job options (given your learning curve).
        .row
            .col-xs-12
                h3 For Startups:
                ol
                    li What TO expect:
                        ul
                            li To meet a set of people with immense talent and holding a power profile.
                            li We select people passionate and enthusiast about working for a startup.
                            li A single stop for meeting candidates from various fields including technology, business development, design etc.
                    li What
                        b  NOT
                        |  to expect :
                        ol
                            li Complete hiring solution.
                            li We do not interfere in the process of recruitment or do recruitments on behalf of the startup.
                            li Skillset agnostic. You will find a start-up ready developer, but not necessarily a start-up friendly Xamarin developer.
                            li A selective meetup. Here, every candidate meets every startup. One cannot pick and choose. We do this to make sure maximum value is derived out of the event by every candidate and every startup and it also helps us run the event in an organized fashion.
                            li A job fair. Only young startups Series A and below are allowed here and we are quite particular about that.


block user
    if user
        li
            a(href='/edit-profile') Edit Profile
        li
            a(href='/logout') Logout
    else
        li
            a(href='/login') Login
