footer
    .clearfix
    .row
        .col-lg-12
            p Copyright &copy; HeadStart Higher 2015
    script(src='/javascripts/app.js', type='text/javascript')
    script(src='/bower_components/jquery/dist/jquery.min.js', type='text/javascript')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js', type='text/javascript')
