doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')

    body
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Headstart Higher
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    if user
                        if user.role.code != 3
                            ul.nav.navbar-nav
                                li
                                    a(href='/shortlisted') Shortlisted
                            ul.nav.navbar-nav
                                li
                                    a(href='/faq') FAQ
                        if user.role.code == 3
                            ul.nav.navbar-nav
                                li
                                    a(href='/candidates') Candidates
                            ul.nav.navbar-nav
                                li
                                    a(href='/startups') Startups
                            ul.nav.navbar-nav
                                li
                                    a(href='/upload-page') Upload Page
                    ul.nav.navbar-nav.navbar-right
                        block user
        block content
    include footer
