extends layout
block content
    form(role='form' method='POST', action="/login" )
        .form-group
            label
                h2 Email
            input.form-control(type='email', name='username')
        input.btn.btn-success.pull-right(type='submit' value='Submit')
