extends layout
block content
    if !err
        if user.role.code == 2
            h1 Shortlisted Candidates
            hr
            div.container-fluid
                each candidate in users
                    .panel.panel-default
                        .panel-heading
                            a.panel-title(href='/candidate/' + candidate.id) #{candidate.name}
                        .panel-body
                            div #{candidate.candidate.education}
                            div #{candidate.candidate.experience}
                            div #{candidate.candidate.roles}
        else
            h1 SHortlisted Startups
            hr
            div
                each user in users
                    .panel.panel-default
                        .panel-heading
                            a.panel-title(href='/startup/' + user.id) #{user.startup.startup_name}
                        .panel-body
                            div
                                b Website:
                                | #{user.startup.website}
                            div #{user.startup.intro}
block user
    if user
        li
            a(href='/profile') Profile
        li
            a(href='/logout') Logout
    else
        li
            a(href='/login') Login