extends layout
block content
    h1 Startups
    hr
    div
        each startupUser in users
            .panel.panel-default
                .panel-heading
                    a.panel-title(href='/startup/' + startupUser._id) #{startupUser.startup.startup_name}
                    if user
                        if user.role.code != 3
                            if(startupUser.star)
                                span.glyphicon.glyphicon-star.pull-right(style="font-size:24px;" id="star#{startupUser._id}" onclick="removeShortList('#{startupUser._id}');" aria-hidden="true")
                            else
                                span.glyphicon.glyphicon-star-empty.pull-right(style="font-size:24px;" id="star#{startupUser._id}" onclick="shortList('#{startupUser._id}');" aria-hidden="true")
                .panel-body
                    div
                        b Website:
                        | #{startupUser.startup.website}
                    div #{startupUser.startup.intro}
block user
    if user
        li
            a(href='/edit-profile') Profile
        li
            a(href='/logout') Logout
    else
        li
            a(href='/login') Login

