extends layout
block content
    div.container-fluid
        .panel.panel-default(style="margin-top:10px;")
            .panel-heading
                h3.panel-title #{startup.startup.startup_name}
            .panel-body
                div #{startup.startup.intro}
                div
                    b Contact Person:
                    | #{startup.name}
                div
                    b Phone Number:
                    | #{startup.mobile}
        .panel.panel-default.panel-custom
            .panel-heading
                h3.panel-title Hiring for Roles:
            .panel-body #{startup.startup.requirements}
        .panel.panel-default.panel-custom
            .panel-heading
                h3.panel-title Qualities we seek:
            .panel-body #{startup.startup.roles}
        .clearfix
        .panel.panel-default.panel-custom-left
            .panel-heading
                h3.panel-title Intrested in hiring Cofounder:
            .panel-body #{startup.startup.cofounder}
        //.panel.panel-default.panel-custom
            .panel-heading
                h3.panel-title Perks:
            .panel-body #{startup.startup.perks}

        .clearfix
        if user.role.code == 3
            h3 Shortlisted Startups
            each star in startup.starred
                ul
                    li=star.name
                    | #{star.email},
                    |  #{star.mobile}
        form(role='form',action='/note/#{startup._id}' method='POST')
            .form-group
                label(for='comment') You can save notes for reference here:
                textarea#notes.form-control(name='note', rows='5') #{note}
            input.btn.btn-success.pull-right(type="Submit" Value='Save')

block user
    if user
        li
            a(href='/edit-profile') Profile
        li
            a(href='/logout') Logout
    else
        li
            a(href='/login') Login