//
   Created by Ashok on 17-08-2015.

extends layout
block content
    h1 Upload
    hr
    form(role='form', method='POST', action="/upload",enctype="multipart/form-data")
        .form-group
            label Candidates(csv)
            input(type='file', name='candidates')
        .form-group
            label Startups(csv)
            input(type='file', name='startups')
        input.btn.btn-success.pull-right(type="Submit" Value='Upload')
    .clearfix
    hr
block user
    if user
        li
            a(href='/edit-profile') Edit Profile
        li
            a(href='/logout') Logout
    else
        li
            a(href='/login') Login
